@model SPSMobile.Models.LoginUserModel


@{
    ViewBag.Title = "登录系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">    

    $(document).ready(function () {

 

    });


 
</script>

<div data-role="content" class="content">

    @using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">用户登陆</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.LoginID,new { @style= "width:90px;" })
            @Html.TextBoxFor(m => m.LoginID)            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Password, new { @style= "width:90px;" })
            @Html.PasswordFor(m => m.Password)            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.SaveLoginStatus)
            @Html.CheckBoxFor(m => m.SaveLoginStatus)
        </li>

        <li data-role="fieldcontain">
            <input type="submit" value="登录" />
        </li>
    </ul>
}
</div>


